{
    "items": {
        "frame1": ["icon"],
        "frame2": ["title"],
        "frame3": [
            "minimize",
            "maximize",
            "close"
        ]
    },
    "style": {
        "close": {
            "clicked": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-close-active-symbolic.svg",
            "hover": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-close-hover-symbolic.svg",
            "hoverText": "close",
            "normal": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-close-symbolic.svg",
            "qss": ""
        },
        "general": {
            "icon-size": 18,
            "color": [
                100,
                100,
                100
            ],
            "margins": [
                0,
                0,
                0,
                0
            ],
            "spaces": 5
        },
        "icon": {
            "qss": "",
            "url": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/debian-logo.png"
        },
        "maximize": {
            "clicked": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-maximize-active-symbolic.svg",
            "hover": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-maximize-hover-symbolic.svg",
            "hoverText": "maximize",
            "normal": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-maximize-symbolic.svg",
            "qss": ""
        },
        "minimize": {
            "clicked": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-minimize-active-symbolic.svg",
            "hover": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-minimize-hover-symbolic.svg",
            "hoverText": "minimize",
            "normal": "/home/abhiraj/PycharmProjects/window_background_blue_test_pyqt5/icons/breeze-minimize-symbolic.svg",
            "qss": ""
        },
        "shade": {
            "active": "",
            "hover": "",
            "hoverText": "",
            "qss": ""
        },
        "title": {
            "centerText": true,
            "font": "HYYoyo",
            "qss": "",
            "size": 10
        }
    }
}
